---
import "../styles/global.css";

const { title = "Ta Vue" } = Astro.props;
---

<!doctype html>
<html lang="fr" data-theme="tavue">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Ta Vue - Lunetterie haut de gamme" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen bg-base-100">
		<slot />
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}
</style>
